<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/0797e566bf.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="container">
        <div id="main">
            <!-- title  -->
            <div id="heading">
                <h1>
                    <%= title %>
                </h1>
            </div>
            <!-- main form section-->
            <div id="main-form">
                <form action="/create-task" method="POST">

                    <!-- Group 1: Category and Due Date -->
                    <div id="group1" class="height50px text-style">
                        <label for="category" class="mint"><b>CATEGORY</b>
                            <select name="category" id="category" required>
                                <option value="" disabled selected hidden>Choose a category</option>
                                <option value="personal">personal</option>
                                <option value="school">school</option>
                                <option value="office">work</option>
                                <option value="cleaning">cleaing</option>
                                <option value="other">other</option>
                            </select>
                        </label>

                        <label for="due-date" class="mint"><b>DUE DATE</b>
                            <input type="date" id="due-date" name="dueDate" required>
                        </label>
                    </div>

                    <!-- Group 2: Description -->
                    <div id="group2" class="height50px text-style">
                        <label for="description" class="mint"><b>DESCRIPTION</b></label>
                        <input type="text" name="description" id="description" placeholder=" what do you need to do?"
                            required>
                    </div>

                    <!-- Group 3: Add and Delete Buttons -->
                    <div id="group3" class="height50px text-style">
                        <button type="submit" name="action" value="create" class="bg-aquamarine">Add</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Displaying Tasks -->
        <% for(let i of todo_list){%>
            <div id="task">
                <div id="#display-description">
                    <input type="checkbox" name="<%=i._id%>" id="<%=i._id%>" <% if (i.done) { %> checked <% } %> >
                    <label for="<%=i._id%>" <% if (i.done) { %>class="strikethrough"<% } %> >
                            <p>
                                <%= i.description%>
                            </p>
                            <p>
                                <i class="fas fa-calendar-alt" style="margin: 2px;"></i>
                                <%= i.date%>
                            </p>

                    </label>
                </div>

                <!-- Displaying Category with Background Color -->
                <div class="display-inline">
                    <div id="display-category" class="<%= i.category%>">
                        <%= i.category%>
                    </div>

                    <a href="/delete-task/?id=<%= i._id %>">
                        <i id="deleteBtn" class="fas fa-window-close"></i>
                    </a>
                </div>
            </div>
            <% } %>
    </div>

</body>

</html>